/* google font */
body{
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* Global Class*/
.desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
span{
    color: #E55473;
}
.btn{
    background: #E55473;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 20px 43px;
    border: 0; 
}
.title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
section{
    margin-bottom: 128px;
}
.feature-text{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}

/* Banner */
.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 240px;
}
.banner-container{
    padding: 197px 97px 147px 0;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}
.banner-desc{
    margin-top: 32px;
    margin-bottom: 0;
    width: 634px; 
}
.banner-btn{
    margin-top: 32px;
}
.banner img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
/* Feature */
.feature{
    margin-top: 178px;
}
.feature-details{
    text-align: center;
}
.feature-title{
    margin-bottom: 24px;
}
.feature-desc{
    width: 594px;
    margin: auto;
}
.feature-img-container{
    display: flex;
    padding: 48px 240px 128px 240px;
}
.feature-img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 24px; 
}
.feature-img1 img{
    width: 310px;
    height: 428px; 
    padding: 110px 78px 0 76px;
}
.feature-img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
    width: 464px;
    height: 538px; 
}
.feature-img2 img{
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px; 
}
.feature-img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px; 
}
.feature-img3 img{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0 75px; 
}
.feature-info-container{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 240px 0 240px; 
}
.feature-wrap{
    display: flex;
    padding: 86px 175px 87px 175px;
    justify-content: space-around;
}
.feature-info{
    text-align: center;
}
.feature-info img{
    width: 88px;
    height: 88px;
   
}
.feature-info p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
}
/* discount */
.discount{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.discount img{
    width: 318px;
    height: 420px;
    padding: 100px 429px 100px 186px; 
}
.discount-info{
    text-align: center;
    margin-top: 230px;
    margin-left: 395px;
}
.discount-desc{
    margin-top: 24px;
    margin-bottom: 32px;
}
/* Services */
.service-info{
    margin-top: 128px;
    text-align: center;
}
.service-title{
    margin-bottom: 24px;
}
.service-desc{
    width: 594px;
    margin: auto;
}
.service-img-container{
    margin: 48px 168px 0 228px;
}
.service-img-container img{
    width: 342px;
    height: 396px;
   margin-right: 24px;
}